@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="about">
    <div class="about-container">
        <h1>About Us</h1>
        <p>
            PopTicket has been providing unforgettable movie experiences since
            2023.
        </p>

        <div class="about-details">
            <div class="about-block">
                <h2>Our Mission</h2>
                <p>
                    At PopTicket, our mission is to enrich the movie-going experience
                    by providing a seamless and convenient way for film enthusiasts to
                    discover and secure tickets to the cinema. We are committed to
                    offering a diverse selection of films that cater to the tastes of
                    all audiences, from blockbuster hits to indie gems.
                </p>
                <p>
                    <br />We strive to be more than just a ticket-selling platform; we
                    aim to be a bridge between the magic of cinema and the comfort of
                    your planning. With just a few clicks, you can reserve your spot
                    at the next showing of your most anticipated film, ensuring you
                    never miss a premiere or a limited screening.
                </p>
            </div>

            <div class="about-block">
                <h2>Our Technology</h2>
                <p>
                    Innovation is at the heart of our operation. We continuously
                    evolve our technology to ensure a secure, user-friendly, and
                    up-to-date service that meets the fast-paced demands of today’s
                    moviegoer. From the moment you land on our site to the second the
                    lights dim in the theatre, we are here to make your journey
                    effortless.
                </p>
            </div>

            <div class="about-block">
                <h2>Our Facilities</h2>
                <p>
                    The theaters we are working with are equipped with
                    state-of-the-art sound and projection technologies such as IMAX,
                    4DX, and VIP screenings to ensure every movie is presented in the
                    highest possible quality.
                </p>
            </div>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/script.js")"></script>