@{
    ViewBag.Title = "Contact";
}


<div class="contact-container">
    <h1>Contact Us</h1>
    <p>Have questions or need assistance? Feel free to reach out to us!</p>

    <div class="contact-details">
        <div class="contact-block">
            <h2>Our Address</h2>
            <p>
                Ataköy 7-8-9-10,E5 Karayolu Üzeri Ataköy Yerleşkesi, 34158
                Bakırköy/İstanbul
            </p>
        </div>

        <div class="contact-block">
            <h2>Phone Numbers</h2>
            <p>General Inquiries: (212) 456-7890</p>
            <p>Group Bookings: (212) 456-7891</p>
        </div>

        <div class="contact-block">
            <h2>Email Us</h2>
            <p>General: contact@popticket.com</p>
            <p>Support: support@popticket.com</p>
        </div>

        <div class="contact-block">
            <h2>Operating Hours</h2>
            <p>Monday - Sunday: <br />09:00 - 23:00</p>
        </div>
    </div>
</div>


